* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(241, 241, 241);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div {
  color: rgb(32, 32, 32) !important;
}

header {
  margin-bottom: 3em;
}

header a {
  color: rgb(32, 32, 32);
}

.navbar {
  min-height: 75px;
  height: 100%;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 2.5em;
}

.navbar-brand span {
  color: rgb(0, 102, 0) !important;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 2em;
  margin-right: 2.5em;
}

.navbar-brand {
  margin-right: auto;
}

main {
  width: 100%;
  margin: 0 auto;

  max-width: 1000px;
}

.hero-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  position: relative;
}

.btn {
  font-weight: 500;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.hero-container img {
  margin-top: 2em;
  max-height: 450px;
  min-width: 1000px;
  object-fit: cover;
}

.hero-divider {
  width: 100%;
  display: block;
  border-bottom: 2px solid rgb(146, 225, 146);
  margin-top: 4em;
}

.destination-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7em;
  grid-row-gap: 3em;
  margin-bottom: 5em;
}

.destination-list__container {
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.destination-list__name {
  font-size: 1.5em;
}

.destination-list__name a {
  text-decoration-line: none;
}

.destination-list__name a:hover {
  text-decoration-line: underline;
}

footer {
  background-color: rgb(146, 225, 146);
}

footer .row {
  display: flex;
  justify-content: space-around;
}
