<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/main-bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>EcoTourism</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><span>ECO</span>.TOUR</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero-container">
        <h1>6 Destinasi Instagrammable di Bali yang Harus Anda Kunjungi</h1>
        <p>Mulai Liburanmu Dari Sini!</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <button class="btn btn-primary" type="button">Explore!</button>
        </div>

        <img src="../public/images/hero-image.jpg" alt="Pantai" />
        <hr class="hero-divider" />
      </div>

      <div class="destination-list">
        <div class="destination-list__container">
          <img src="../public/images/Ellipse 2.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#"><a href="#">Canggu & Berawa</a></a>
            </h2>
            <p class="destination-list__body">
              The best mix of Everything Bali has to offer - surfing, party,
              yoga, restaurants & cafes
            </p>
          </div>
        </div>

        <div class="destination-list__container">
          <img src="../public/images/Ellipse 4.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#">Nusa Dua & Benoa</a>
            </h2>
            <p class="destination-list__body">
              International 5star Resorts and golf courses for the luxury
              traveler
            </p>
          </div>
        </div>

        <div class="destination-list__container">
          <img src="../public/images/Ellipse 1.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#">Seminyak & Petitenget</a>
            </h2>
            <p class="destination-list__body">
              Luxury villas, great hotels, beach & surf, nightlife, amazing
              shopping & food
            </p>
          </div>
        </div>

        <div class="destination-list__container">
          <img src="../public/images/Ellipse 5.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#">Kintamani</a>
            </h2>
            <p class="destination-list__body">
              Fancy Cafe With the best view of mount Batur
            </p>
          </div>
        </div>

        <div class="destination-list__container">
          <img src="../public/images/Ellipse 3.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#">Ubud</a>
            </h2>
            <p class="destination-list__body">
              Bali’s cultural center. Blend of art, spirituality, lifestyle, &
              culinary delights.
            </p>
          </div>
        </div>

        <div class="destination-list__container">
          <img src="../public/images/Ellipse 6.png" alt="" />
          <div class="destination-list__info">
            <h2 class="destination-list__name">
              <a href="#">Kuta & Tuban</a>
            </h2>
            <p class="destination-list__body">
              Bali’s party place for the young and wild. Bars, Shopping, Beach
              Life & Party
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-center text-lg-start text-black">
      <div class="container p-4 pb-0">
        <section class="footer__content">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">ECO.TOUR</h5>

              <p>
                ECO.TOUR merupakan website tentang informasi lengkap tentang
                wisata populer yang ada di Bali, tidak hanya itu, himbauan
                kepada wisatawan akan menjaga kelestarian lingkungan juga
                diperhatikan. Nama website diambil dari kata
                <i>Ecotourism</i> yang berarti perjalanan dan kegiatan wisata
                yang dirancang untuk meminimalkan dampak negatif pada lingkungan
                alam
              </p>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-black">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 4</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-black">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-black">Link 4</a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <hr class="mb-4" />

        <section class="mb-4 text-center">
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>

          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-twitter"></i
          ></a>

          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-google"></i
          ></a>

          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-instagram"></i
          ></a>

          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-linkedin"></i
          ></a>

          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(5, 107, 3, 0.2)"
      >
        &copy; 2024 Copyright: ECO.TOUR
      </div>
    </footer>
    <!-- Footer -->

    <script src="../script/bootstrap.bundle.min.js"></script>
  </body>
</html>
